header.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
  color: #FFFFFF;
}
hr {
    border-color: #FFFFFF;
}
.bg-dark {
  background-color: transparent !important;
}

.background-gradient {
  background-image: linear-gradient(to right, #232526, #414345);
}
.profile-img img{
  width:200px;
  height:200px;
  border-radius: 100%;
}
.basic_info ,.social-icons {
    list-style: none;
}
.basic_info a, .social-icons a {
    color: white;
}

@media (max-width: 575.98px) {
  body{
    text-align: center;
  }
  .profile-img img{
    width: 200px;
    height:200px;
  }
  .profile-desc{
    margin: 20px auto;
  }
  .contact-details{
      margin: 20px 0;
  }
  .basic_info,.social-icons{
    padding-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .profile-img img{
    width:200px;
    height:200px;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .contact-details {
    font-size: 0.9rem
  }
  .profile-img img{
    width:100px;
    height:100px;
  }
  .profile-desc h1 {
    font-size: larger;
    font-weight: 700;
}
.profile-desc hr{

}
.lead {
    font-size: 1.0rem;
    font-weight: 300;
}

}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .profile-img img{
    width:100px;
    height:100px;
    border-radius: 100%;
  }

}
@media (min-width: 1200px) {

}
